.CatImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    margin-top: 40px;
    text-align: center;
    transition: width 5s, height 5s, transform 2s;
    cursor: zoom-in;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
  }

  .CatImage:hover{
      background-position: center;
      transform: rotate(360deg);
    }